@using SAMS.Model;

@model AssetModel

<style>
    .k-form-fieldset {
        overflow-y: scroll;
    }
    .editor-label {
        font-size: 12px;
        margin: 10px;
    }

    .editor-field {
        font-size: 16px;
        margin: 10px;
    }

</style>

<div>

    @using (Html.BeginForm("Assets_Create_or_Update", "Assets", FormMethod.Post, new { id = "modForm" }))
    {
        @Html.ValidationSummary(true)
    <fieldset>
        <div hidden="hidden">
            @Html.TextBoxFor(model => model.AssetID, new { @id = "idinput" })
        </div>
        <table>

				<tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.AssetTypeName)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DisplayFor(model => model.AssetTypeName)
                    </div>
                </td>
            </tr>
				<tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.SerialNumber)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DisplayFor(model => model.SerialNumber)
                    </div>
                </td>
            </tr>
				<tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.TelemetryBoundObjectID)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DisplayFor(model => model.TelemetryBoundObjectID)
                    </div>
                </td>
            </tr>
				<tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.ResponsibleDepartmentName)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DisplayFor(model => model.ResponsibleDepartmentName)
                    </div>
                </td>
            </tr>
				<tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.AssetStatusEnumName)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DisplayFor(model => model.AssetStatusEnumName)
                    </div>
                </td>
            </tr>
				<tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.CommissioningDate)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DisplayFor(model => model.CommissioningDate)
                    </div>
                </td>
            </tr>
				<tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Remarks)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DisplayFor(model => model.Remarks)
                    </div>
                </td>
            </tr>
				<tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.ChangedByFullName)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DisplayFor(model => model.ChangedByFullName)
                    </div>
                </td>
            </tr>

</table>

    </fieldset>
            }

    </div>
