
@using SAMS.WebUI.Models

@model List<MainMenu>
@{
    Layout = null;
}

<link href="@Url.Content("~/Static/v1/css/sidemenupanel.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Static/v1/css/animate.min.css")" rel="stylesheet" type="text/css" />
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />*@
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

    .my-element {
  display: inline-block;
  margin: 0 0.5rem;

  animation: bounce; 
  animation-duration: 2s; /* don't forget to set a duration! */
}

    #ltoggle {
        width: 100px;
        height: 100px;
        background: #ccc;
    }

    body {
        background: #fefefe;
        font-family: Sans-serif;
        font-size: 1em;
    }

    .sidebar {
        background: #ebebeb;
        border-right: 1px solid #bdbdbd;
        left: 0;
        position: fixed;
        top: 100px;
        height: 100%;
        width: 350px;
    }

        .sidebar .nav {
            list-style-type: none;
            margin-left: 0;
            margin-top: 0;
            display: block;
        }

            .sidebar .nav li {
                background-color: #F0F0F0;
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$lightColor, endColorstr=$darkColor);
                background-image: -webkit-gradient(linear, left top, left bottom, from(#F0F0F0), to(#DBDBDB));
                background-image: -moz-linear-gradient(top, #F0F0F0, #DBDBDB);
                background-image: -o-linear-gradient(top, #F0F0F0, #DBDBDB);
                background-image: linear-gradient(top, #F0F0F0, #DBDBDB);
                border-bottom: 1px solid #BDBDBD;
                border-top: 1px solid white;
                height: 42px;
                line-height: 42px;
                margin-left: 0px;
                padding-left: 10px;
            }

                .sidebar .nav li:last-child {
                    -webkit-box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.1);
                    -moz-box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.1);
                    box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.1);
                }

                .sidebar .nav li a {
                    color: #616161;
                    display: block;
                    margin-left: 20px;
                    text-decoration: none;
                    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
                }

                .sidebar .nav li.active {
                    border-top: 1px solid #1768B9;
                    border-bottom: 1px solid #0C2D49;
                    -webkit-box-shadow: inset 0px 1px 0px 0 rgba(255, 255, 255, 0.2);
                    -moz-box-shadow: inset 0px 1px 0px 0 rgba(255, 255, 255, 0.2);
                    box-shadow: inset 0px 1px 0px 0 rgba(255, 255, 255, 0.2);
                    background-color: #5FAEDF;
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$lightColor, endColorstr=$darkColor);
                    background-image: -webkit-gradient(linear, left bottom, left top, from(#5FAEDF), to(#4889B4));
                    background-image: -moz-linear-gradient(bottom, #5FAEDF, #4889B4);
                    background-image: -o-linear-gradient(bottom, #5FAEDF, #4889B4);
                    background-image: linear-gradient(bottom, #5FAEDF, #4889B4);
                    position: relative;
                }

                    .sidebar .nav li.active::after {
                        content: "";
                        display: block;
                        width: 26px;
                        height: 20px;
                        -moz-transform: rotate(62deg) skew(30deg);
                        -webkit-transform: rotate(62deg) skew(30deg);
                        transform: rotate(62deg) skew(30deg);
                        margin-top: -32px;
                        margin-left: 326px;
                        background: #5FAEDF;
                        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$lightBlue, endColorstr=$darkBlue);
                        background: -webkit-gradient(linear, left top, right bottom, from(#5FAEDF), to(#4889B4));
                        background: -moz-linear-gradient(-45deg, #5FAEDF, #4889B4);
                        background: -o-linear-gradient(-45deg, #5FAEDF, #4889B4);
                        background: linear-gradient(-45deg, #5FAEDF, #4889B4);
                        border-top: 1px solid #1D6CAF;
                        border-right: 1px solid #0C2D49;
                        -webkit-box-shadow: inset 0px 1px 0px 0 rgba(255, 255, 255, 0.2);
                        -moz-box-shadow: inset 0px 1px 0px 0 rgba(255, 255, 255, 0.2);
                        box-shadow: inset 0px 1px 0px 0 rgba(255, 255, 255, 0.2);
                    }

                    .sidebar .nav li.active a {
                        color: white;
                        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
                    }

            .sidebar .nav > li > a:hover {
                text-decoration: none;
                background-color: inherit !important;
            }

            .sidebar .nav > li > a {
                padding: 0 !important;
            }

                .sidebar .nav > li > a:focus,
                .sidebar .nav > li > a:hover {
                    background-color: transparent !important;
                }
</style>



<script>
    

    function openNav() {
        document.getElementById("mySidepanel").style.display = "block";
        document.getElementById("mySidepanel").style.width = "350px";
        document.getElementById("mainbodydiv").style.left = "370px";
        document.getElementById("mainbodydiv").style.width = "calc(100% - 370px)";
        //document.getElementById("openbtn").style.left = "316px";
        document.getElementById("openbtn").textContent = '⏴';

    }

    function closeNav() {
        document.getElementById("mySidepanel").style.width = "0";
        document.getElementById("mySidepanel").style.display = "none";
        document.getElementById("mainbodydiv").style.left = "20px";
        document.getElementById("mainbodydiv").style.width = "100%";
        document.getElementById("openbtn").textContent = '⏵';
        //document.getElementById("openbtn").style.left = "0px";
        var _elem = $(this);

        $('a').parent('li').each(function () {
            $(this).removeClass('active');
        });
    }

    function toggleNav() {
        //debugger;
        if (document.getElementById("mySidepanel").style.width === "" | document.getElementById("mySidepanel").style.width === "0px")
            openNav()
        else
            closeNav()
    }
</script>
<body style="background-color: #cecece;">
    <table>
        <tr>
            <td>
                @*<button class="openbtn" onclick="toggleNav()" style=" z-index: 2; position: relative">&#9776;</button>*@
                <button id="openbtn" class="openbtn" onclick="toggleNav()" style=" z-index: 20; position: absolute">&#9204;</button>
                <div id="mySidepanel" class="sidebar" style=" z-index: 2;">
                    <ul class="nav">

                        @foreach (var Menu in Model)
                        {
                            <li id="@Menu.MenuName"><a href="#" style="font-size: medium;">@Menu.Text</a></li>
                        }
                    </ul>
                </div>


                @*<div id="mySidepanel" class="sidebar">
                        @(Html.Kendo().Menu()
                      .Name("dmenu")
                        .SecurityTrimming(false)
                      //.HtmlAttributes(new { @class = "sidebar" })
                      .Orientation(MenuOrientation.Vertical)
                      .Items(items =>
                      {
                          foreach (var Menu in Model)
                          {
                              items.Add()
                              .Text(Menu.Text).HtmlAttributes(new { id = Menu.MenuName, style = "color:black;font-weight: normal;" }).Encoded(Menu.Encoded);
                          }
                      })
                    )
                    </div>*@
            </td>
            <td>
                <div id="mainbodydiv" class="partialpanel" style=" z-index: 0;">

                </div>
            </td>
        </tr>
    </table>
</body>

<script>
    

    $(document).ready(function () {

        const animateCSS = (element, animation, prefix = 'animate__') =>
            // We create a Promise and return it
            new Promise((resolve, reject) => {
                const animationName = `${prefix}${animation}`;
                const node = document.querySelector(element);
                if (node && node.classList) {
                    node.classList.add(`${prefix}animated`, animationName);
                    // When the animation ends, we clean the classes and resolve the Promise
                    function handleAnimationEnd(event) {
                        event.stopPropagation();
                        if (node && node.classList)
                            node.classList.remove(`${prefix}animated`, animationName);
                        resolve('Animation ended');
                    }

                    node.addEventListener('animationend', handleAnimationEnd, { once: true });
                }
            });

        openNav();

        $('a').click(function (e) {
            window.stop();
            var _elem = $(this);

            var directory = _elem.parent('li')[0].id;
            $('a').parent('li').each(function () {
                $(this).removeClass('active');
            });
            var controllerName = '@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()';
            _elem.parent('li').addClass('active');




            var link = '@(Url.Action("GetPartialView", "controllerName", null, Request.Url.Scheme))?directory=' + directory;
            link = link.replace("controllerName", controllerName);
            //$("#mainbodydiv").load(link);

            //});

            animateCSS('#mainbodydiv', 'slideOutLeft').then((message) => {
                $("#mainbodydiv").html('');
                $("#mainbodydiv").load(link, function () {
                    animateCSS('#mainbodydiv', 'slideInLeft');
                });
            });




            //$("#mainbodydiv").toggle(1000, function () {
            //    $("#mainbodydiv").html('');
            //    $("#mainbodydiv").load(link, function () {
            //        $("#mainbodydiv").toggle(1000, function () {
            //            //ff
            //        });
            //    });
            //});
        });
    });
</script>




