@using SAMS.Model;

@model RoleModel

<style>
    .k-form-fieldset {
        overflow-y: scroll;
    }
    .editor-label {
        font-size: 12px;
        margin: 10px;
    }

    .editor-field {
        font-size: 16px;
        margin: 10px;
    }

</style>

<div>

    @using (Html.BeginForm("Roles_Create_or_Update", "Roles", FormMethod.Post, new { id = "modForm" }))
    {
        @Html.ValidationSummary(true)
    <fieldset>
        <div hidden="hidden">
            @Html.TextBoxFor(model => model.RoleID, new { @id = "idinput" })
        </div>
        <table>

				<tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.RoleName)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DisplayFor(model => model.RoleName)
                    </div>
                </td>
            </tr>
				<tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Organization)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DisplayFor(model => model.Organization,"OrgNameDisplay")
                    </div>
                </td>
            </tr>
				<tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.IsAdmin)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DisplayFor(model => model.IsAdmin)
                    </div>
                </td>
            </tr>
				<tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.TblDepartments)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DisplayFor(model => model.TblDepartments,"AccessLevelDisplay")
                    </div>
                </td>
            </tr>
				<tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.TblLocations)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DisplayFor(model => model.TblLocations,"AccessLevelDisplay")
                    </div>
                </td>
            </tr>
				<tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.TblOrganizations)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DisplayFor(model => model.TblOrganizations,"AccessLevelDisplay")
                    </div>
                </td>
            </tr>
				<tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.TblPersonnels)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DisplayFor(model => model.TblPersonnels,"AccessLevelDisplay")
                    </div>
                </td>
            </tr>
				<tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.TblPositions)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DisplayFor(model => model.TblPositions,"AccessLevelDisplay")
                    </div>
                </td>
            </tr>
				<tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.TblCharacteristicCategories)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DisplayFor(model => model.TblCharacteristicCategories,"AccessLevelDisplay")
                    </div>
                </td>
            </tr>
				<tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.TblCharacteristics)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DisplayFor(model => model.TblCharacteristics,"AccessLevelDisplay")
                    </div>
                </td>
            </tr>
				<tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.TblAssetAttributeCategories)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DisplayFor(model => model.TblAssetAttributeCategories,"AccessLevelDisplay")
                    </div>
                </td>
            </tr>
				<tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.TblAssetAttributes)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DisplayFor(model => model.TblAssetAttributes,"AccessLevelDisplay")
                    </div>
                </td>
            </tr>
				<tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.TblAssetCategories)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DisplayFor(model => model.TblAssetCategories,"AccessLevelDisplay")
                    </div>
                </td>
            </tr>
				<tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.TblAssets)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DisplayFor(model => model.TblAssets,"AccessLevelDisplay")
                    </div>
                </td>
            </tr>
				<tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.TblAssetTypes)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DisplayFor(model => model.TblAssetTypes,"AccessLevelDisplay")
                    </div>
                </td>
            </tr>
				<tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.TblDocumentTypes)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DisplayFor(model => model.TblDocumentTypes,"AccessLevelDisplay")
                    </div>
                </td>
            </tr>
				<tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.TblMaintenanceRepairTypes)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DisplayFor(model => model.TblMaintenanceRepairTypes,"AccessLevelDisplay")
                    </div>
                </td>
            </tr>
				<tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.TblMeasurementUnitTypes)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DisplayFor(model => model.TblMeasurementUnitTypes,"AccessLevelDisplay")
                    </div>
                </td>
            </tr>
				<tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.TblOperationIndicators)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DisplayFor(model => model.TblOperationIndicators,"AccessLevelDisplay")
                    </div>
                </td>
            </tr>
				<tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.TblCountries)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DisplayFor(model => model.TblCountries,"AccessLevelDisplay")
                    </div>
                </td>
            </tr>
				<tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.TblContrAgentIs)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DisplayFor(model => model.TblContrAgentIs,"AccessLevelDisplay")
                    </div>
                </td>
            </tr>
				<tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.TblScheduleTypes)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DisplayFor(model => model.TblScheduleTypes,"AccessLevelDisplay")
                    </div>
                </td>
            </tr>
				<tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.TblDefectTypes)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DisplayFor(model => model.TblDefectTypes,"AccessLevelDisplay")
                    </div>
                </td>
            </tr>
				<tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.TblUsers)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DisplayFor(model => model.TblUsers,"AccessLevelDisplay")
                    </div>
                </td>
            </tr>
				<tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.TblAssetEmplacements)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DisplayFor(model => model.TblAssetEmplacements,"AccessLevelDisplay")
                    </div>
                </td>
            </tr>
				<tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.TblRoles)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DisplayFor(model => model.TblRoles,"AccessLevelDisplay")
                    </div>
                </td>
            </tr>
				<tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.TblDefectRemovalWays)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DisplayFor(model => model.TblDefectRemovalWays,"AccessLevelDisplay")
                    </div>
                </td>
            </tr>
				<tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Deactivate)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DisplayFor(model => model.Deactivate)
                    </div>
                </td>
            </tr>
				<tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.CreateDate)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DisplayFor(model => model.CreateDate)
                    </div>
                </td>
            </tr>
				<tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.ChangeDate)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DisplayFor(model => model.ChangeDate)
                    </div>
                </td>
            </tr>
				<tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.ChangedByFullName)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DisplayFor(model => model.ChangedByFullName)
                    </div>
                </td>
            </tr>

</table>

    </fieldset>
            }

    </div>
